html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.welcome_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 4rem auto 0 auto;
  width: 100%;
}

.welcome_section h1{
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 1.5rem;  
}

.welcome_section p{
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

hr{
  width:50%;
  border-top: 2px dotted #303841;
}

#PaymentSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 3.125rem auto 0 auto;
}

#InputForm{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(155, 124, 66, 0.185);
  padding: 5rem 2rem 5rem 2rem;
  margin: 0 20rem 0 20rem;
}

#paysection{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#paysection input{
  flex-basis: 60%;
  padding:0.37rem 0.75rem;
  width: 50%;
  margin-right: 5px;
}
#paysection select{
  flex-basis: 40%;
  padding:0.37rem 0.75rem;
  width: 20%;
  margin-right: 5px;
}

#DiscountSection{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

#Selected{
  flex-basis:5%;
  padding:10px;
  width: 70px;
  min-width: 30px;
  height: 30px;
  flex-shrink: 1;
}

#DiscountAmount{
  flex-basis: 95%;
  margin-right: 5px;
  padding:0.37rem 0.75rem;
  flex-shrink: 90;
}


#InformationSection{
  display: flex;
  width: 100%;
  align-items:center;
  vertical-align: bottom;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
  min-height: 50px;
}

#InformationSection p{
  font-size: 20px;
}

#submitButton{
  width: 100%;
  height: 40px;
  padding:0.25rem 0.25rem 0.25rem 0.25rem;
  font-size: 24px;
  border-radius: 2px;
  background: #37AF65;
  color: white;
  border: none;
  transition-duration: 0.4s;
  min-width: 200px;
}

#submitButton:hover{
  background: rgb(28, 102, 56);
  border: 1px solid white;
}

body{
  height: 100vh;
}